
@{
    ViewBag.Title = "Completed";
}

<h2>Спасибо!</h2>
<p>Заказ добавлен. Спасибо за выбор нашего магазина.</p>

@Html.ActionLink("К товарам", "Index", "Goods",null, new { @class = "btn btn-primary" })
@Html.ActionLink("В кабинет", "Index", "Account", null, new { @class = "btn btn-default" })