@model Store.DAL.Entities.Status

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Вы уверены что хотите удалить этот статус?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Назад", "Index") |
            <input type="submit" value="Удалить" class="btn btn-primary" />
        </div>
    }
</div>
