@*@model IEnumerable<Store.DAL.Entities.ClientProfile>*@
@model IEnumerable<Store.BLL.DTO.UserDTO>

<h2>Клиенты</h2>
<br/>

<div id="result">
    @Html.Action("ChangeStatus")
</div>

@section Scripts {
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}