@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1>Что-то пошло не так (403)</h1>

@Html.ActionLink("К товарам", "Index", "Goods", null, new { @class = "btn btn-primary" })



